body {
  background-color: var(--el-bg-color);
  color: var(--el-text-color-primary);
}

.el-table th,
.el-table td,
.el-button,
.el-input,
.el-form-item {
  background-color: var(--el-bg-color);
  color: var(--el-text-color-primary);
  border-color: var(--el-border-color);
}
